/* Fonts */
h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 43px;
}

/* Small Text */
#small_text {
    font-size: 12px;
}

/* Body */
body {
    background-color: white;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    }
/* Page */
.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding-top: 35px;
    padding: 70px;
}

/* Pure Grid */
.pure-g {
    margin-bottom: 25px;
}

/* Small Font */
.small-font {
    font-size: 14px;
}

/* End Credit */
#end_credit {
    padding: 10px 20px;
}

/* Background Color for Body */
body {
    background-color: #a7a5a5b2;
}